
.recherche {
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;

    &__bloc {
        text-align: center;
        position: relative;
        top: 15.5px;
    }

    &__icon {
        width: 12px;
        height: 16px;
        color: #353535;
    }

    &__texte {
        width: 109px;
        height: 19px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
        margin-left: 13px;
        color: #353535;
    }
}

.introduction {
    width: 100%;
    height: 288px;
    background-color: #F6F4F4; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__titre {
        width: 275px;
        height: 68px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px;
        margin-top: 40px;
        text-align: center;
    }

    &__paragraphe {
        width: 315px;
        height: 46px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #353535;
    }

    &__boutton {
        margin-top: 27px;
        width: 225px;
        height: 50px;
        margin-bottom: 57px;
    }
}

.fonctionnement {
    width: 100%;
    height: 390px;

    &__titre {
        width: 200px;
        height: 31px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 42px;
        margin-left: 20px;
        margin-bottom: 25px;
    }
}

.carte-liste-conteneur {
    width: 100%;
    height: 305px;
    
    & .carte-liste {
        width: 375px;
        height: 73px;
    }
}

.restaurants {
    width: 100%;
    height: 1305px;
    background-color: #F6F4F4;

    &__titre {
        width: 200px;
        height: 31px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 20px;
        padding-top: 55px;
    }

    &__cartes {
        width: 90%;
        height: 1080px;
        margin-left: 20px;
    
        & .carte-cliquable {
            width: 100%;
            height: 250px;
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            position: relative;
        }
    }
}


/*-----médias-queries-----*/

@media screen and (min-width:768px)
{
    .recherche {
        margin-top: 40px;

        .recherche__icon {
            margin-left: 300px;
        }
    }

    .introduction {
        height: 180px;

        .introduction__titre {
            width: 450px;
            height: 42px;
            margin-top: 20px;
        }

        .introduction__paragraphe {
            width: 700px;
            font-size: 1em;
        }

        .introduction__boutton {
            margin-left: 260px;
            margin-top: 0px;
        }
    }

    .fonctionnement {
        height: 110px;

        .fonctionnement__titre {
            margin-left: 90px;
            margin-top: 24px;
            font-size: 1.2em;
            margin-bottom: 4px;
        }
    }

    .carte-liste-conteneur {
        display: flex;
        flex-direction: row;
        margin-left: 90px;
        width: 570px;
        height: 60px;

        .carte-liste {
            width: 175px;
            height: 40px;
            margin-left: 8px;
            margin-right: 15px;           
        }

        .carte-liste__nombre {
            width: 20px;
            height: 15px;
            margin-left: -5px;
            margin-top: 11px;
            font-size: 10px;
        }

        .carte-liste__icone {
            font-size: 10px;
            margin-left: 10px;
            margin-top: 15px;
            width: 0px;
        }

        .carte-liste__icone--violet {
            font-size: 10px;
            margin-left: 10px;
            margin-top: 15px;
            width: 0px;
        }

        .carte-liste__paragraphe {
            font-size: 10px;
            margin-top: 11px;
            font-weight: bold;
        }
    }

    .restaurants {
        height: 430px;

        .restaurants__titre {
            margin-left: 90px;
            padding-top: 15px;
            font-size: 1.2em;
        }
    }

    .restaurants__cartes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        height: 370px;
        width: 660px;
        margin-top: -36px;
        margin-left: 90px;

        .carte-cliquable {
            width: 43%;
            height: 158px;
            margin-left: 0px;
            margin-right: 43px;
            margin-bottom: 0px;
        }

        .carte-cliquable__nouveau {
            left: 190px;
            top: 8px;
            height: 20px;
            width: 65px;
            font-size: 12px;
            padding-top: 8px;
        }

        .carte-cliquable__image {
            height: 110px;
            width: 100%;
        }

        .carte-cliquable__info {
            width: 100%;
            height: 50px;
        }

        .carte-cliquable__texte {
            font-size: 0.8em;
            margin-top: 5px;
            line-height: 20px;
        }

        .carte-cliquable__icone {
            margin-top: 7px;
        }
    }
}


@media screen and (min-width:992px)
{
    .recherche {
        .recherche__icon {
            margin-left: 425px;
        }
    }
    .recherche__texte {
        margin-left: 0px;
    }

    .introduction {
        .introduction__boutton {
            margin-left: 382px;
        }
    }

    .fonctionnement {
        height: 120px;

        &__titre {
            padding-left: 20px;
        }
    }

    .carte-liste-conteneur {
        padding-left: 20px;
        width: 810px;

        .carte-liste {
            width: 237px;
            height: 45px;
        }
    }

    .restaurants {
        .restaurants__titre {
            padding-left: 20px;
        }

        .restaurants__cartes {
            padding-left: 20px;
            width: 880px;
        }

        .carte-cliquable {
            margin-right: 60px;
            width: 41%;
            height: 163px;

            &__nouveau {
                left: 270px;
            }
        }
    }
}