.btn--violet {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
    background : linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px 25px 25px 25px;
    border: #FF79DA;
}

.btn--coeur {
    width: 20px;
    height: 20px;
    font-size: 25px;
    }