
.recherche {
    width: 100%;
    height: 50px;
    box-shadow: inset 0px 2px 4px darkgray;
    background-color: #EAEAEA;
    margin-top: 30px;

    &__icon {
        width: 20px;
        height: 20px;
        margin-left: 120px;
        margin-top: 16px;
    }

    &__texte {
        width: 109px;
        height: 19px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
        color: #353535;
        background-color: #EAEAEA;
        border: #EAEAEA;
    }
}

.introduction {
    width: 100%;
    height: 280px;
    background-color: #F6F4F4;
    padding-top: 1px; 

    &__titre {
        width: 275px;
        height: 68px;
        margin: auto;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px;
        text-align: center;
        margin-top: 40px;
    }

    &__paragraphe {
        width: 315px;
        height: 46px;
        margin: auto;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    &__boutton {
        width: 218px;
        height: 50px;
        margin-left: 100px;
        margin-top: 25px;
    }
}

.fonctionnement {
    width: 100%;
    height: 400px;

    &__titre {
        width: 200px;
        height: 31px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 42px;
        margin-left: 20px;
    }
}

.carte-liste-conteneur {
    width: 100%;
    height: 305px;
    
    & .carte-liste {
        width: 340px;
        height: 73px;
    }
}

.restaurants {
    width: 100%;
    height: 1200px;
    background-color: #F6F4F4;

    &__titre {
        width: 200px;
        height: 31px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 20px;
        padding-top: 55px;
    }

    &__cartes {
        width: 90%;
        height: 1080px;
        margin-left: 20px;
    
        & .carte-cliquable {
            width: 100%;
            height: 250px;
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            position: relative;
        }
    }
}


/*-----médias-queries-----*/

@media screen and (min-width:768px)
{
    .recherche {
        .recherche__icon {
            margin-left: 300px;
        }
    }

    .introduction {
        height: 210px;

        .introduction__titre {
            width: 450px;
            height: 42px;
        }

        .introduction__paragraphe {
            width: 700px;
        }

        .introduction__boutton {
            margin-left: 260px;
            margin-top: 0px;
        }
    }

    .fonctionnement {
        height: 126px;

        .fonctionnement__titre {
            margin-left: 90px;
            margin-top: 24px;
        }
    }

    .carte-liste-conteneur {
        display: flex;
        flex-direction: row;
        margin-left: 90px;
        width: 570px;
        height: 90px;

        .carte-liste {
            width: 175px;
            height: 40px;
            margin-left: 8px;
            border: red;            
        }

        .carte-liste__nombre {
            width: 20px;
            height: 15px;
            margin-left: -5px;
            margin-top: 11px;
            font-size: 10px;
        }

        .carte-liste__icone {
            font-size: 10px;
            margin-left: 10px;
            margin-top: 15px;
            width: 0px;
        }

        .carte-liste__icone--violet {
            font-size: 10px;
            margin-left: 10px;
            margin-top: 15px;
            width: 0px;
        }

        .carte-liste__paragraphe {
            font-size: 10px;
            margin-top: 11px;
            font-weight: bold;
        }
    }

    .restaurants {
        height: 700px;

        .restaurants__titre {
            margin-left: 90px;
            padding-top: 15px;
        }
    }

    .restaurants__cartes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        height: 450px;
        width: 640px;
        margin-top: 23px;
        margin-left: 90px;
        border: 1px solid red;

        .carte-cliquable {
            width: 42%;
            height: 200px;
            margin-left: 0px;
            margin-right: 50px;
            border: 1px solid blue;
        }

        .carte-cliquable__nouveau {
            left: 180px;
        }

        .carte-cliquable__image {
            height: 90px;
            width: 100%;
        }

        .carte-cliquable__info {
            width: 100%;
        }

        .carte-cliquable__texte {
            font-size: 0.8em;
        }
    }
}