@charset "UTF-8";
.loader {
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  border: 3px solid #99E2D0;
  opacity: 0.9;
  inset: 0;
  z-index: 3;
  animation: flash 1s 2s forwards;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.loader__icone {
  font-size: 100px;
  color: #FF79DA;
  margin-top: 270px;
}

@keyframes flash {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.body {
  width: 100%;
  height: 100vh;
}

.recherche {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.recherche__icon {
  width: 12px;
  height: 16px;
  color: #353535;
  margin-right: 17px;
}

.recherche__texte {
  width: 109px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 18.75px;
  color: #353535;
}

.introduction {
  width: 100%;
  height: 288px;
  background-color: #F6F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.introduction__titre {
  width: 275px;
  height: 68px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  margin-top: 40px;
  text-align: center;
}
.introduction__paragraphe {
  width: 315px;
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #353535;
}
.introduction__boutton {
  margin-top: 27px;
  height: 50px;
  width: 218px;
  margin-bottom: 57px;
}

.fonctionnement {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__conteneur {
  width: 100%;
}
.fonctionnement__titre {
  height: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-left: 20px;
  margin-top: 48px;
  margin-bottom: 26px;
}

.carte-liste-conteneur {
  width: 100%;
  height: 305px;
}

.carte-liste {
  width: 322px;
  height: 72px;
}

.restaurants {
  width: 100%;
  height: 1220px;
  background-color: #F6F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants__conteneur {
  width: 100%;
}
.restaurants__titre {
  width: 275px;
  height: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-left: 20px;
}

.restaurants__cartes {
  width: 100%;
  height: 1080px;
  margin-left: 0px;
}

.carte-cliquable {
  width: 340px;
  height: 251px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  position: relative;
}

/*-----médias-queries-----*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recherche {
    height: 50px;
  }
  .introduction {
    height: 160px;
  }
  .introduction__titre {
    width: 100%;
    height: 47px;
    padding-top: 20px;
    font-size: 24px;
  }
  .introduction__paragraphe {
    width: 531px;
    height: 46px;
    font-size: 10px;
    padding-top: 10px;
  }
  .introduction__boutton {
    padding: 15px;
    margin-top: 15px;
    width: 250px;
  }
  .introduction__boutton-paragraphe {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 100%;
    margin: 0px;
  }
  .fonctionnement {
    height: 150px;
  }
  .fonctionnement__conteneur {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .fonctionnement__titre {
    width: 275px;
    height: 31px;
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .carte-liste-conteneur {
    display: flex;
    flex-direction: row;
    width: 570px;
    height: 60px;
  }
  .carte-liste {
    width: 175px;
    height: 40px;
    margin-left: 8px;
    margin-right: 15px;
  }
  .carte-liste__nombre {
    width: 20px;
    height: 15px;
    margin-left: -5px;
    margin-top: 11px;
    font-size: 0.5em;
  }
  .carte-liste__icone {
    font-size: 10px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 15px;
  }
  .carte-liste__icone--violet {
    font-size: 10px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 15px;
    width: 0px;
  }
  .carte-liste__paragraphe {
    font-size: 10px;
    margin-top: 11px;
    font-weight: bold;
    margin-left: 15px;
  }
  .restaurants {
    height: 370px;
  }
  .restaurants__conteneur {
    width: 80%;
  }
  .restaurants__titre {
    width: 268px;
    height: 28px;
    padding-top: 15px;
    font-size: 1.1em;
    margin-left: 0px;
  }
  .restaurants__cartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 315px;
    width: 645px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .carte-cliquable {
    width: 42%;
    height: 138px;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .carte-cliquable__nouveau {
    right: 10px;
    top: 8px;
    height: 17px;
    width: 45px;
    font-size: 12px;
    padding-top: 8px;
  }
  .carte-cliquable__nouveau-texte {
    width: 40px;
    height: 15px;
    font-size: 0.8em;
    top: -9px;
    left: 2px;
  }
  .carte-cliquable__image {
    height: 90px;
    width: 100%;
  }
  .carte-cliquable__info {
    width: 100%;
    height: 50px;
  }
  .carte-cliquable__texte {
    width: 82%;
    height: 40px;
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 17px;
  }
  .carte-cliquable__texte-titre {
    font-size: 1em;
    width: 160px;
    height: 18px;
    line-height: 8px;
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .carte-cliquable__texte-paragraphe {
    font-size: 0.9em;
    width: 160px;
    line-height: 6px;
    margin-bottom: 8px;
  }
  .carte-cliquable__icone {
    margin-top: 15px;
    margin-right: 0px;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 992px) {
  .recherche__icon {
    margin: 17px 7px 17px 651px;
  }
  .recherche__texte {
    margin: 15px 651px 15px 0px;
  }
  .introduction {
    height: 208px;
  }
  .introduction__titre {
    width: 100%;
    height: 47px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 0px;
  }
  .introduction__paragraphe {
    width: 100%;
    height: 46px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .introduction__boutton {
    width: 218px;
    height: 50px;
    margin-right: 611px;
    margin-left: 611px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .fonctionnement {
    height: 170px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .fonctionnement__conteneur {
    width: 80%;
  }
  .fonctionnement__titre {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .carte-liste-conteneur {
    width: 810px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 100px;
  }
  .carte-liste {
    width: 322px;
    height: 72px;
    margin-right: 24px;
    margin-left: 10px;
  }
  .restaurants {
    height: 620px;
  }
  .restaurants__conteneur {
    width: 80%;
  }
  .restaurants__titre {
    padding-top: 20px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-top: 30px;
  }
  .restaurants__cartes {
    width: 1200px;
    height: 555px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 40px;
  }
  .carte-cliquable {
    width: 490px;
    height: 251px;
    margin-right: 100px;
    margin-left: 0px;
  }
  .carte-cliquable__nouveau {
    right: 10px;
    top: 10px;
  }
  .footer {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=home.css.map */
