.header {
  width: 100%;
  height: 38px;
  padding: 18px 0px 12px;
  position: relative;
}
.header__entete {
  display: flex;
  flex-direction: row;
}
.header__entete-icone {
  color: black;
  margin-left: 30px;
  font-size: 1.5em;
}
.header__entete-image {
  width: 200px;
  height: 30px;
  margin-left: 70px;
  margin-bottom: 10px;
}
.header__restaurant-image {
  width: 100%;
  height: 300px;
}

.information-restaurant {
  margin-top: 300px;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  top: -60px;
  background-color: #F6F4F4;
  width: 100%;
  height: 1130px;
  border: 1px solid transparent;
}
.information-restaurant__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  height: 40px;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: shrikhand;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.menu-card {
  width: 100%;
  margin-bottom: 30px;
}
.menu-card__titre {
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 50px;
  border-bottom: 3px solid #99E2D0;
}
.menu-card__plat {
  width: 380px;
  height: 70px;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 8px;
  border: 1px solid #F6F4F4;
  box-shadow: 0px 4px 15px lightgrey;
}
.menu-card__plat-titre {
  font-weight: bolder;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 12px;
}
.menu-card__plat-detail {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 3px;
}
.menu-card__plat-prix {
  position: relative;
  left: 335px;
  top: -20px;
  font-size: 16px;
  font-weight: bolder;
}

.information-restaurant__commande {
  width: 100%;
  height: 50px;
}
.information-restaurant__commande-btn {
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 1em;
  line-height: 19px;
  text-align: center;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px 25px 25px 25px;
  border: #FF79DA;
  margin-left: 110px;
}

.footer {
  margin-top: -60px;
}

/*----------medias-queries----------*/
@media screen and (min-width: 768px) {
  .header__entete-image {
    margin-left: 240px;
    margin-bottom: 20px;
  }
  .information-restaurant {
    width: 75%;
    margin-left: 93px;
    margin-top: 350px;
    border-radius: 20px 20px 0px 0px;
  }
  .information-restaurant__entete {
    margin-left: 120px;
  }
  .information-restaurant__commande {
    margin-left: 75px;
  }
  .menu-card {
    margin-left: 75px;
  }
}
/*----------medias-queries----------*/
@media screen and (min-width: 992px) {
  .header__entete-image {
    margin-left: 350px;
  }
  .information-restaurant {
    width: 80%;
    margin-left: 100px;
    margin-top: 360px;
  }
  .information-restaurant__entete {
    margin-left: 220px;
  }
  .menu-card {
    margin-left: 85px;
  }
  .menu-card__plat {
    width: 600px;
  }
  .menu-card__plat-prix {
    left: 555px;
  }
  .information-restaurant__commande {
    margin-left: 190px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
