.footer {
    width: 100%;
    height: 190px;
    background-color: #353535;
    margin-top: 0px;

    &-titre {
        width: 110px;
        height: 30px;
        margin-top: 0px;
        padding-top: 30px;
        margin-left: 20px;
    }

    &-liste {
        width: 100%;
        height: 110px;
        list-style-type: none;
        margin-left: 20px;
        margin-top: 35px;

        &__element {
            margin-bottom: 10px;

            &-icone {
                width: 20px;
                height: 10px;
                font-size: 0.8em;
                margin-right: 05px;
                color: white;
            }

            &-lien {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .footer {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 5px;
    
        &-liste:nth-child(2) {
            order: 1;
        }
    
        #espace-partenaire {
            margin-right: 23px;
        }
    
        .footer-titre:nth-child(1) {
            order: 2;
        }
    }
    
    .footer-titre {
        font-size: 0.7em;
        height: 60px;
        width: 80px;
        margin-right: 20px;
    }
    
    .footer-liste {
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 430px;
        margin-top: 27px;
    
        .footer-liste__element {
            font-size: 0.7em;
    
            &-icone {
                font-size: 0.7em;
                margin-right: 0px;
                width: 15px;
            }
    
            &-lien {
                margin-right: 10px;
            }
        }
    }    
}
