.footer {
    width: 100%;
    height: 186px;
    padding: 22px 25px 22px 25px;
    background-color: #353535;

    &-titre {
        width: 138px;
        height: 27px;
        font-family: shrikhand;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }

    &-liste {
        width: 100%;
        height: 110px;
        list-style-type: none;
        margin-top: 18px;

        &__element {
            margin-bottom: 7px;

            &-icone {
                width: 11px;
                height: 13px;
                color: #FFFFFF;
            }

            &-lien {
                text-decoration: none;
                width: 168px;
                height: 19px;
                margin-left: 10px;
                font-weight: 500;
                font-family: roboto;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }

            &-petitlien {
                text-decoration: none;
                width: 130px;
                height: 20px;
                font-family: roboto;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .footer {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 5px;
    
        &-liste:nth-child(2) {
            order: 1;
        }
    
        #espace-partenaire {
            margin-right: 23px;
        }
    
        .footer-titre:nth-child(1) {
            order: 2;
        }
    }
    
    .footer-titre {
        font-size: 0.7em;
        height: 60px;
        width: 80px;
        margin-right: 20px;
    }
    
    .footer-liste {
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 430px;
        margin-top: 27px;
    
        .footer-liste__element {
            font-size: 0.7em;
    
            &-icone {
                font-size: 0.7em;
                margin-right: 0px;
                width: 15px;
            }
    
            &-lien {
                margin-right: 10px;
            }
        }
    }    
}
